<%- include("./partials/header") %>
<div class="main-container">
  <div class="profile-card">
    <div class="card-content">
      <div class="card-image">
        <img
          src="<%= user.profilPicture ? user.profilPicture : '../images/default-avatar.png'%> %>"
          alt="Card Image"
        />
      </div>
      <div class="card-info">
        <div class="info-item">
          <span class="info-title">Name</span>
          <span class="info-value"><%=user.fullname%></span>
        </div>
        <div class="info-item">
          <span class="info-title">Email</span>
          <span class="info-value"><%=user.email%></span>
        </div>
      </div>
    </div>
    <div class="card-buttons">
      <a href="/updateProfile">Update profile</a>
      <% if (user.CVpdf) { let urlParts = user.CVpdf.split("/upload/");%>
      <a
        href=<%=`${urlParts[0]}/upload/fl_attachment/${urlParts[1]}`%> download='cv.pdf'
        >Download CV</a
      >
      <%}%>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
