<%- include("./partials/header") %>
<div class="main-container">
<div class="add-job-container">
    <form class="add-job-form" id="update-job-form" data-id="<%= job.id%>">
      <h1>Update job</h1>
      <div class="form-group">
        <label for="jobTitle">Job title *</label>
        <input type="text" id="jobTitle" name="jobTitle" value="<%= job.jobTitle%>" required/>
        <small class="error-message" id="jobTitle-error"></small>
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" id="website" name="website" value="<%= job.website%>"/>
        <small class="error-message" id="website-error"></small>
      </div>
      <div class="form-group">
        <label for="origin">Origin</label>
        <select name="origin" id="origin">
          <option value="Candidature spontanée" <%= job.origin === "Candidature spontanée" ? "selected" : "" %>>Candidature spontanée</option>
          <option value="job offer" <%= job.origin === "job offer" ? "selected" : "" %> >Job offer</option>
        </select>
        <small class="error-message" id="origin-error"></small>
      </div>
      <div class="form-group">
        <label for="status">Status *</label>
        <select name="status" id="status" required>
          <option value="Interested" <%= job.status === "Interested" ? "selected" : "" %>>Interested</option>
          <option value="CV sent" <%= job.status === "CV sent" ? "selected" : "" %>>CV sent</option>
          <option value="Interview" <%= job.status === "Interview" ? "selected" : "" %>>Interview</option>
          <option value="negative" <%= job.status === "negative" ? "selected" : "" %>>Negative</option>
        </select>
        <small class="error-message" id="status-error"></small>
      </div>
      <div class="form-group">
        <label for="expirationDate">Expiration date</label>
        <input
          type="date"
          id="expirationDate"
          name="expirationDate"
          value="<%= new Date(job.expirationDate).toISOString().slice(0, 10) %>"
          min="<%-new Date().toJSON().slice(0, 10)%>"
        />
        <small class="error-message" id="expirationDate-error"></small>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment" value="<%= job.comment%>"/>
        <small class="error-message" id="comment-error"></small>
      </div>
      <h3>Employer’s contact</h3>
      <div class="form-group">
        <label for="name">Name *</label>
        <input type="text" id="name" name="name" value="<%= job.employer.name%>" />
        <small class="error-message" id="name-error"></small>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= job.employer.email%>"/>
        <small class="error-message" id="email-error"></small>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="<%= job.employer.phoneNumber%>"/>
        <small class="error-message" id="phoneNumber-error"></small>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" value="<%= job.employer.address%>"/>
        <small class="error-message" id="address-error"></small>
      </div>
      <button type="submit" class="add-job-button">Update</button>
    </form>
  </div>
</div>
<script>const form = document.querySelector("#update-job-form");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const id = form.dataset.id;
    
      // Collect form data
      const jobData = {
        jobTitle: document.querySelector("#jobTitle").value,
        website: document.querySelector("#website").value,
        origin: document.querySelector('#origin').value,
        status: document.querySelector('#status').value,
        comment: document.querySelector('#comment').value,
        employer: {
          name: document.querySelector("#name").value,
          email: document.querySelector("#email").value,
          phoneNumber: document.querySelector("#phoneNumber").value,
          address: document.querySelector("#address").value,
        },
      };
    
      try {
        const response = await fetch(`/api/job/?id=${id}`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(jobData),
        });
    
        const data = await response.json();
    
        if (data._id) {
          window.location.href = `/jobDetails/?id=${id}`; // Redirect to job details page if successful
        } else {
          // Handle validation errors
          Object.keys(data).forEach((key) => {
            document.querySelector(`#${key}-error`).innerText = data[key];
          });
        }
      } catch (e) {
        console.log("Error:", e);
      }
    });
    
  </script>
<%- include('./partials/footer') %>